
body {
    --castleton-green: #225d4bff;
    --wintergreen-dream: #608e84ff;
    --opal: #9ebebdff;
    --burnished-brown: #a48081ff;
    --rose-vale: #a94245ff;
    --deep-taupe: #7d5758ff;
    --black: #000000ff;
    --dark-slate-blue: #553c8eff;
    
    --header-height: 50px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--wintergreen-dream);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}


header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
}

.gutter-right {
    margin-right: 20px;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}


.auth-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.auth-container {
    margin: 10px;
}

.auth-container form {
    display: flex;
    flex-direction: column;
}

.auth-container button {
    margin: 10px;
}

.player-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 2rem;
}

.cpu-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 1.5rem;
}

.card-face {
    display: flex;
    height: 9rem;
    width: 6.48rem;
    border: solid 1px black;
    border-radius: 5%;
    background-color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.card-back {
    height: 9rem;
    width: 6.48rem;
    border: solid 1px var(--castleton-green);
    border-radius: 5%;
    background-color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.red {
    color: red;
}

.black {
    color: black
}

@media (max-width: ) {}

.player-card-count { 
    position: absolute;
    top: 50px;
    left: 10px;
}

.score-container {
    position: relative;
    width: 180px;
    height: min-content;
    text-align: center;
    border-radius: 5px;
    border: solid 1px black;
    margin: 15px auto;
    padding: 5px;
    font-size: 30px;
    
}

.user-badge {
    position: absolute;
    text-align: center;
    width: fit-content;
    height: 50px;
    border-radius: 7px;
    top: 5px;
    left: 2px;
    background-color: var(--castleton-green);
}
.cpu-badge {
    position: absolute;
    text-align: center;
    width: fit-content;
    height: 50px;
    border-radius: 7px;
    top: 5px;
    right: 7px;
    background-color: var(--castleton-green);
}