
body {
    --castleton-green: #225d4bff;
    --wintergreen-dream: #608e84ff;
    --opal: #9ebebdff;
    --burnished-brown: #a48081ff;
    --rose-vale: #a94245ff;
    --dark-wood-brown: #5f3628;
    --light-wood-brown: #B07C4F;
    --black: #000000ff;
    --dark-slate-blue: #553c8eff;
    
    --header-height: 40px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--wintergreen-dream);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--castleton-green);
    height: var(--header-height);
    box-shadow: var(--shadow);
}

.gutter-right {
    margin-right: 20px;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

.auth-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.auth-container {
    margin: 10px;
}

.auth-container form {
    display: flex;
    flex-direction: column;
}

.auth-container button {
    margin: 10px;
}

.display-name {
    margin: .5rem auto;
}

.player-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 1.2rem;
}

.cpu-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 1.2rem;
    margin-bottom: 2rem;
}

.player-card {
    height: 9rem;
    width: 6.48rem;
}

.cpu-card {
    height: 9rem;
    width: 6.48rem;
}

.card-face {
    display: flex;
    height: 9rem;
    width: 6.48rem;
    border: solid 1px black;
    border-radius: 5%;
    background-color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.card-back {
    height: 9rem;
    width: 6.48rem;
    border: solid 1px var(--castleton-green);
    border-radius: 5%;
    background-color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.red {
    color: red;
}

.black {
    color: black
}

.hit-btn {
    margin-top: 1.2rem;
}

.score-container {
    display: flex;
    position: relative;
    width: 10rem;
    height: 3.5rem;
    text-align: center;
    border-radius: 5px;
    border: solid 2px var(--castleton-green);
    margin: 0 auto;
    padding: 5px;
    font-size: 30px;
    align-items: center;
    justify-content: center;
}

.user-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 25px;
    border-radius: 5px;
    background-color: var(--castleton-green);
    border: solid 1px black;
    font-size: .9rem;
    position: absolute;
    top: 15px;
    left: -25px;
}

.cpu-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 25px;
    border-radius: 5px;
    background-color: var(--castleton-green);
    border: solid 1px black;
    font-size: .9rem;
    position: absolute;
    top: 15px;
    right: -25px;
}


.about-me-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 4rem;

}

.about-div {
    width: 300px;
    height: 300px;
    border: solid 1px black;
}

.one {

   grid-column-start: 2;
   grid-column-end: 3;
   grid-row-start: 1;
   grid-row-end: 2;
}

.two {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

}

.three {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.four {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
.stats-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

table, th, td {
    border: 1px solid black;
  }

  table { 
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }